body{
  
  display: inline-block;
  
}


table, tr, th, td {
    border: 1px solid black;
    width: 25em;
  }



td{
    text-align: center;
}

.button{
  margin-top: 30px;
  margin-left: 25%;
  border-color: black;
  border-radius: 25%;
  width: 30%;
  padding: 25px;
  background-color: grey;
  text-align: center;
  
}

.button:hover {
  background-color: darkcyan;
}



#wordsearch {
  visibility: hidden;
  display: inline-block;
}

#list-container {
 display: inline-block;
 position:relative;
 bottom: 1em;
 left: 1em;
}

#app {
  display: flex;
}

.word{
  font-weight: 600;
}

#guess-container {
  top: 1em;
  position: relative;
}